/* GLOBAL */
main {
    font-family: 'Alegreya',Georgia,"Times New Roman",serif;
}

button {
    background-color: #2dedb9;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    border: none;
    padding: 10px 20px;
    box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.3);
    transition: all 300ms ease 0ms;
}

button:hover {
    background-color: #26cfa2;
}

.error {
    color: red;
    font-weight: 600;
}

/*NAVBAR*/
.navbar {
    background-color: #f6f6f6;
    max-width: 100%;
    display: flex;
    overflow: hidden;
}

.logo_container {
    display: flex;
    max-width: fit-content;
    justify-content: center;
}

.logo_container a {
    display: flex;
    max-width: fit-content;
    justify-content: center;
}

.logo {
    width: 50%;
    padding: 1rem;
}
    .logo:hover {
        cursor: pointer;
    }

.navitems {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.btn_navbar {
    margin: 2rem;
    float: inline-start;
}
    nav:hover {
        cursor: pointer;
    }

.btn_navbar a {
    color: #4f4e4e;
    text-decoration: none;
}

.connect{
    border: none;   
}

.button_container {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}
    .button_container p {
        padding: 1rem;
    }

    .button_container a {
        margin-right: 20%;
    }

/*BANNER*/
.banner {
    display: flex;
    align-items: center;
    background-image: linear-gradient(90deg,rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.2) 100%), url(../uploads/jonction_landscape.png);
    background-size: cover;
    height: 40rem;
    background-position: 0 80%;
}

.banner_txt {
    margin: 0px 20rem 0px 20rem;
    max-width: 40%;
    font-size: 1.4em;
    align-self: center;
    color: #f6f6f6;
}

.banner_title {
    max-width: 40%;
    font-size: 3em;
    align-self: center;
    color: #f6f6f6;
}

/*MAIN*/
section {
    width: 80%;
    max-width: 1080px;
    margin: auto;
    padding-top: 40px;
}

h2 {
    text-align: center;
}

hr {
    width: 10%;
    margin: 1rem auto !important;
    opacity: .5 !important;
}

.newsletter_banner {
    display: flex;
    align-items: center;
    background-image: linear-gradient(90deg,rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.2) 100%), url(../uploads/explorecave.jpg);
    background-size: cover;
    height: 40rem;
    background-position: 0 80%;
    color: #f6f6f6;
}

/*LOGIN*/
.login {
    height: 80vh;
}

/*FOOTER*/
.footer {
    background-color: #4f4e4e;
    color: #f6f6f6;
    font-family: 'Alegreya',Georgia,"Times New Roman",serif;
    font-size: small;
}

.footer_logo {
    display: flex;
    max-width: 60%;
    padding: 1rem;
}

.footer_column {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
    .footer_column h3 {
        font-size: x-large;
    }

.copy_tos {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}